body {
	background-image: url(http://i.imgur.com/aucXD8r.jpg) !important;
}
.header .logo {
	display: none !important;
}
.header {
	background-image: url(http://i.imgur.com/SjJpc8G.png);
	background-repeat: no-repeat;
}
.roomlist {
	margin: auto;
	text-align: center;
}
.chat-log {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-image: url(http://i.imgur.com/PlZJbVg.png) !important;
}
.userlist {
	background: black;
	color: #aff3ff;
	text-shadow: 0px 0px 6px #afd8ff;
}
.userlist li button {
	text-shadow: 1px 1px 2px black;
}
.userlist li button:hover {
	background: #C8ACC1;
}
.pm-log {
	background-color: white;
	font-family: Comic Sans MS, cursive, sans-serif;
}
.tabbar .inner a.button {
	background: black;
	color: #aff3ff;
	text-shadow: 0px 0px 6px #afd8ff;
}
.tabbar .inner a.button.subtle-notifying {
	color: red;
	text-shadow: 0px 0px 6px red;
}
.maintabbarbottom {
	box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.7);	
	background: black;
}
.mainmenuwrapper {
	box-shadow: inset -3px -3px 30px rgba(0, 0, 0, 0.7);
}
.menugroup button.button {
	padding: 3px 7px 3px 7px;
	background: black !important;
	border-color: aqua !important;
}
.menugroup button.button.big {
	padding: 6px 7px 6px 7px;
	background: black !important;
	border-color: aqua !important;
}
.tabbar a.closebutton { 
	color: #aff3ff;
}
.astext {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
        }
.backdrop {
    background-image: url("http://goldservers.info/about/backdrop.png") !important;
}
/* User Icons section */
#lobby-userlist-user-rankuro, #tournaments-userlist-user-rankuro, #royalpalace-userlist-user-rankuro, #staff-userlist-user-rankuro, #casino-userlist-user-rankuro, #portugus-userlist-user-rankuro, #dragoticslab-userlist-user-rankuro, #spamroom-userlist-user-rankuro {
    background: #000000 url("http://pldh.net/media/pokemon/gen4/overworld/shiny_frontf2/491.png") right no-repeat;
}
#lobby-userlist-user-icedragonx, #tournaments-userlist-user-icedragonx, #royalpalace-userlist-user-icedragonx, #staff-userlist-user-icedragonx, #casino-userlist-user-icedragonx, #portugus-userlist-user-icedragonx, #dragoticslab-userlist-user-icedragonx, #spamroom-userlist-user-icedragonx {
    background: #000000 url("http://pldh.net/media/pokecons_action/418.gif") right no-repeat;
}
#lobby-userlist-user-dragotic, #tournaments-userlist-user-dragotic, #royalpalace-userlist-user-dragotic, #staff-userlist-user-dragotic, #casino-userlist-user-dragotic, #portugus-userlist-user-dragotic, #dragoticslab-userlist-user-dragotic, #spamroom-userlist-user-dragotic {
    background: #000000 url("http://pldh.net/media/pokemon/gen4/overworld/frontf2/149.png") right no-repeat;
}
