 
/**************
  * GENERAL CSS *
  **************/
 
  body {
    background: #EEE url("http://i.imgur.com/JYUBwQr.jpg") no-repeat left fixed;
  }
 
.button{color:black;background:#ff9966!important;border:solid 1px black!important}.menugroup
 
.button:hover,.menugroup
 
.button:active{color:white;background:#ff9966!important;border:solid 1px black!important
}
   
 
 
  .astext{
    border: none;
    background: none;
    padding:0;
    height: -20em;
    font-family:Verdana,sans-serif;
    font-size: 12px;
    cursor: pointer;
  }
 
  .broadcast-blue {
    background-color: #cccccc;
    border: 1px solid black;
    color: black;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #e6e6e6;
  }
 
  .broadcast-blue a {
    color: #0B1361;
  }
 
  .broadcast-red {
    background-color: #FFB3B3;
    border: 1px solid #610B0B;
    color: #610B0B;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #FFD7D7;
  }
 
  .broadcast-red a {
    color: #610B0B;
  }
 
  .broadcast-green {
    background-color: #C3FFB3;
    border: 1px solid #19610B;
    color: #19610B;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #D8FFD7;
  }
 
  .broadcast-green a {
    color: #19610B;
  }
 
  .textbox, .textbox:hover, .textbox:focus {
    border: 1px solid #252F3F;
    box-shadow: none !important;
  }
 
  .closebutton, .minimizebutton {
    color: #413B45;
  }
 
  .closebutton:hover, .minimizebutton:hover {
    color: #000;
                    }                      
  .ps-room.ps-room-light {
    background: rgba(255, 204, 153, 0.79);
    border-color: black;
  }
 
  .ps-room.ps-room-light.scrollable {
    background:rgba(255, 204, 153, 0.79);
    border-color: black;
  }
 
  .roomlist a.ilink, .roomcounters button {
    border-color: black;
    color: black;
    background: white;
  }
 
  .roomlist a.ilink:hover, .roomcounters button:hover {
    border-color: black;
    color: orange;
    background: white;
  }
 
 
 
  button:hover {
    border: 1px solid #ffa500;
                       
  }
 
  button {
    background:#ffa500;
    border-radius: 5px;
    color: #000000;
    border: 1px solid #ffa500;
  }
 
  .infobox {
    border: 1px solid #0B1361;
    padding: 6px 6px;
    background: rgb(255, 204, 153);
  }
 
  .chat-log a, .pm-log a {
    color: #0500A5;
  }
 
  .chat-log a:visited, .pm-log a:visited {
    color: #162055;
  }
 
  .userlist {
    background: rgba(178, 223, 247, 0.45);
    border-right: 1px solid #252F3F;
  }
 
  .userlist li {
    background-color: rgba(244, 244, 244, 0.8);
    border-bottom-color: #AAA;
  }
 
  .userlist li button:hover {
    background: rgba(255, 255, 255, 0.8);
  }
 
  .userlist li em.group {
    color: #252F3F;
  }
 
  .chat-log {
    background: url("") top right no-repeat rgba(235, 235, 235, 0.785);
  }
 
  .chat-log-add {
    background: rgba(178, 223, 247, 0.45);
    border-top: 1px solid #252F3F;
  }
 
 
  .header {
    height: 50px;
    background: rgba(255, 187, 153, 0.45) url("http://prntscr.com/9yvyh7") no-repeat top left;
    }
 
  .header .logo {
    opacity: 0;
 
}
.menugroup {
        border: 1px solid #d9d9d9;
 
}
.label {
        text-shadow: none !important;
        font-style: italic;
}
 
  .maintabbarbottom {
    background: #ff9966;
    border: 1px solid #808080;
  }
 
  .tabbar a.button.notifying {
    background: #00E2DB;
    border-color: #00FFFF;
    color: #00FFFF;
    text-shadow: none;
  }
 
  .tabbar a.button.notifying:hover {
    background: #00DAD2;
    border-color: #00FFFF;
    color: #00FFFF;
  }
 
  .tabbar a.button.cur, .tabbar a.button.cur:hover {
    background: #808080;
    border: 1px solid #413B45;
    color: #413B45;
    text-shadow: none;
  }
 
  .tabbar a.button {
    border: 1px solid #413B45;
    background: #a6a6a6;
    color: #413B45;
    text-shadow: none;
  }
 
  .tabbar a.button:hover {
    border: 1px solid #413B45;
    background: #808080;
    color: #413B45;
    text-shadow: none;
  }
 
  .tabbar a.button.subtle-notifying {
    color: #990000;
  }
 
 
  .userbar button.icon {
    background: #EEE;
    border: 1px solid #AAA;
    padding: 0px 4px 2px 4px;
  }
 
  .userbar button.icon:hover {
    background: #EEE;
    border: 1px solid #777;
  }
 
  .ps-popup {
    background: #DDD;
    border: 1px solid #AAA;
  }
 
  .credits h2 {
    color: #2D3459;
 
}
 
.mainmenufooter a
 
 
 
 
  a.subtle, .credits ul li p, .credits ul {
    color: #37348E;
  }
 
  .popupmenu h3 {
    color: #1E2C28;
  }
  .ps-popup {
    background: #ff6600
    url("") no-repeat bottom right;
    border-color: #ff6600;
    color: #000000;
    text-shadow: 0px 0px 2px #ff6600;
                       
                    }
 
  .ps-popup a, .ps-popup a.ilink {
    color: #37348E;
  }
 
  .ps-popup a.ilink:hover {
    color: #433FB9;
  }
 
  .avatarlist button {
    border: 1px solid #ff6600;
  }
 
  .avatarlist button:hover {
    border: 1px solid #ff6600;
    background-color: rgb(255, 153, 102);
  }
 
 
 
  .ps-popup .buttonbar button:hover {
    background: #6AE68B;
  }
 
  .ps-overlay {
    background: rgba(0, 0, 0, 0.5);
    }
 
  .ps-popup a {
    color: black;
  }
 
  .ps-popup a.ilink {
    color: black;
  }
 
  .ps-popup a.ilink:hover {
    color: blue;
  }
 
  .ps-popup hr {
    border: none;
    border-bottom: 1px solid #7C000C;
                    }
 
  .ps-popup .buttonbar button {
    background: #EEE;
    border: 1px solid #AAA;
    padding: 2px 4px;
  }
 
  .ps-popup .buttonbar button:hover {
    background: #EEE;
    border: 1px solid #777;
  }
  .ps-room.ps-room-opaque {
    background: rgba(178, 223, 247, 0.7);
  }
 
  .ps-room .battle-controls {
    background: rgba(0, 0, 0, 0);
  }
 
  .battle-log {
    background: url("");
    border-color: #413B45;
  }
 
  .message-error {
    border: 1px solid #413B45;
    background: #ECB3B4;
    color: #413B45;
    margin-bottom: 1px;
  }
/*Battle CSS*/
 
  .backdrop {
    background: url(http://i.imgur.com/wEEDrY9.jpg) !important;
        opacity: 0.6;
}
 
  .battle-log .chat {
    padding: 3px 1px;
  }
 
  .battle-log h2 {
    text-align: right;
    font-style: italic;
    border-color: #000000;
    background: #ff9966;
    color: #000000;
  }
 
  .battle-log-add {
    background: #ff9966;
    border: 1px solid #000000;
    color: #000000;
  }
  .battle {
    border-color: #413B45;
  }
 
  .battle-log .rated strong {
    background: #2D3459;
  }
 
  .battle-log .chat strong {
    color: #2D3459;
  }
 
  .rightbar, .leftbar {
    border-color: #413B45;    
    background: rgba(206, 234, 250, 0.5);
  }
 
  .trainer strong {
    color: #413B45;
  }
 
  .trainer div {
    opacity: 1;
  }
 
  .turnstatus-protect {
    background:url(http://i.imgur.com/RVxCoHz.png);
    opacity:1!important;
    height:103px!important;
    width:150px!important;
    border-radius:0;
    border-width:0;
    box-shadow:none;
    opacity:0.9;
  }
 
  .sidecondition-safeguard {
    background:url(http://i.imgur.com/FrCoWCW.png);
    opacity:0.6!important;
    height:90px!important;
    width:130px!important;
    border-radius:0;
    opacity:0.9;
    border-width:0;
    box-shadow:none;
  }
 
  .sidecondition-reflect {
    background:url(http://i.imgur.com/X1XDxVB.png);
    opacity:0.7!important;
    height:90px!important;
    width:130px!important;
    border-radius:0;
    border-width:0;
    opacity:0.9;
    box-shadow:none;
  }
 
  .sidecondition-lightscreen {
    background:url(http://i.imgur.com/8eLftNA.png);
    opacity:0.6!important;
    height:90px!important;
    width:130px!important;
    opacity:0.9;
    border-radius:0;
    border-width:0;
    box-shadow:none;
                    }
 
  .pm-window h3 {
    border-color: #000000;
    background: rgb(255, 102, 0) url("") bottom right no-repeat;
    background-position: 200px;
    color:   #000000;
    text-shadow: 0px -1px 0px  #000000;
  }
 
  .pm-window h3:hover {
    background: rgb(255, 163, 102) url("") bottom right no-repeat;
    background-position: 200px;
    color: #000000;
  }
 
  .pm-window h3 small {
    color: #000000;
  }
 
  .pm-window.focused h3, .pm-window.focused h3:hover {
    border-color: #0033CC;
    background: rgb(0, 153, 204) url("") bottom right no-repeat;
    background-position: 200px;
    color: #0033CC;
    text-shadow: 0px -1px 0px #0033CC;
  }
 
  .pm-window h3:hover .minimizebutton, .pm-window h3 .closebutton, .pm-window h3 .minimizebutton {
    color:  #CCFFFF;
  }
 
  .pm-window h3 .closebutton:hover {
    color:#CCFFFF;
  }
 
  .pm-window h3 .minimizebutton:hover {
    color: #CCFFFF;
  }
 
  .pm-window h3 .closebutton:hover + .minimizebutton {
    color: #CCFFFF !important;
  }
 
  .message-pm {
    color:  #000000;
  }
 
  .pm-window h3.pm-notifying {
    border-color: #3399ff;
    background: #3399ff;
    color: #0099FF;
    text-shadow: none;
  }
 
  .pm-window h3.pm-notifying:hover {
    background: #99ccff;
  }
 
  .pm-window h3.pm-notifying small {
    color:  #000000;
  }
 
  .pm-window h3.pm-notifying .closebutton, .pm-window h3.pm-notifying .minimizebutton {
    color:#000000;
  }
 
  .pm-window h3.pm-notifying .closebutton:hover {
    color: #000000;
  }
 
  .pm-window h3.pm-notifying .minimizebutton:hover {
    color: #000000;
  }
 
  .pm-window h3.pm-notifying .closebutton:hover + .minimizebutton {
    color: #000000 !important;
  }
 
  .pm-log, .pm-window.focused .pm-log {
    border-color: #000000;
}
                   
.userlist li button:hover {
        background:rgba(244, 244, 244, 0.5)
  }

/*************************************
  * Userlist Icons *
  ************************************/
 #lobby-userlist-user-lordhaji  em.group, #staff-userlist-user-lordhaji em.group, #shadowbanroom-userlist-user-lordhaji  em.group, #casino-userlist-user-lordhaji  em.group, #development-userlist-user-lordhaji  em.group, #gamecave-userlist-user-lordhaji  em.group, #catchevolve-userlist-user-lordhaji  em.group, #smashbros-userlist-user-lordhaji  em.group {
    background: rgba(244, 244, 244, 0.8) url("http://vignette2.wikia.nocookie.net/pokemon/images/3/3c/448M.png/revision/latest?cb=20131021092720") right no-repeat;
 } 
   #lobby-userlist-user-lordhaji  em.group, #staff-userlist-user-lordhaji em.group, #shadowbanroom-userlist-user-lordhaji  em.group, #casino-userlist-user-lordhaji  em.group, #development-userlist-user-lordhaji  em.group, #gamecave-userlist-user-clawliet  em.group, #catchevolve-userlist-user-lordhaji  em.group, #smashbros-userlist-user-lordhaji  em.group {
    color:#39FF14;
  }
  #lobby-userlist-user-clawliet, #staff-userlist-user-clawliet, #shadowbanroom-userlist-user-clawliet, #tournaments-userlist-user-clawliet, #casino-userlist-user-clawliet, #femalehq-userlist-user-clawliet, #catchandevolve-userlist-user-clawliet, #smogontiers-userlist-user-clawliet, #leagueoflegends-userlist-user-clawliet, #1v1-userlist-user-clawliet, #bbc-userlist-user-clawliet, #roleplaying-userlist-user-clawliet, #theartbotshop-userlist-user-clawliet, #theranseiregion-userlist-user-clawliet, #thehangout-userlist-user-clawliet, #cancerlobbyshitposting-userlist-user-clawliet, #smashbros-userlist-user-clawliet, #monotype-userlist-user-clawliet {
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokemon/conquest/icon/149.png") right no-repeat;
  }
 
  #lobby-userlist-user-clawliet  em.group, #staff-userlist-user-clawliet  em.group, #shadowbanroom-userlist-user-clawliet  em.group, #casino-userlist-user-clawliet  em.group, #tournaments-userlist-user-clawliet  em.group, #femalehq-userlist-user-clawliet  em.group, #catchevolve-userlist-user-clawliet  em.group, #smashbros-userlist-user-clawliet  em.group, #1v1-userlist-user-clawliet  em.group, #tournaments-userlist-user-clawliet  em.group, #bbc-userlist-user-clawliet  em.group, #smogontiers-userlist-user-clawliet  em.group, #roleplaying-userlist-user-clawliet  em.group, #thehangout-userlist-user-clawliet  em.group, #theartbotshop-userlist-user-clawliet  em.group, #theranseiregion-userlist-user-clawliet  em.group, #cancerlobbyshitposting-userlist-user-clawliet  em.group, #monotype-userlist-user-clawliet  em.group, #shadowleague-userlist-user-clawliet  em.group {
    color:red;
  }
  
  #lobby-userlist-user-deltastatics  em.group, #staff-userlist-user-deltastatics  em.group, #shadowbanroom-userlist-user-deltastatics  em.group, #casino-userlist-user-deltastatics  em.group, #tournaments-userlist-user-deltastatics  em.group, #femalehq-userlist-user-deltastatics  em.group, #catchevolve-userlist-user-deltastatics  em.group, #smashbros-userlist-user-deltastatics  em.group, #1v1-userlist-user-deltastatics  em.group, #tournaments-userlist-user-deltastatics  em.group, #bbc-userlist-user-deltastatics  em.group, #smogontiers-userlist-user-deltastatics  em.group, #roleplaying-userlist-user-deltastatics  em.group, #thehangout-userlist-user-deltastatics  em.group, #theartbotshop-userlist-user-deltastatics  em.group, #theranseiregion-userlist-user-deltastatics  em.group, #cancerlobbyshitposting-userlist-user-deltastatics  em.group, #monotype-userlist-user-deltastatics  em.group, #shadowleague-userlist-user-deltastatics  em.group {
    color:green;
  }
 
  #lobby-userlist-user-nick151  em.group, #staff-userlist-user-nick151  em.group, #casino-userlist-user-nick151  em.group {
    color:red;
  }
 
  #lobby-userlist-user-paul71, #staff-userlist-user-paul71, #gamecave-userlist-user-paul71 {
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/493.png") right no-repeat;
  }
 
  #lobby-userlist-user-shiryuki  em.group, #casino-userlist-user-shiryuki  em.group, #staff-userlist-user-shiryuki  em.group {
    color:red;
  }
 
  #tournaments-userlist-user-ranseihttpspritespokecheckorgsicon384png, #theranseiregion-userlist-user-ranseihttpspritespokecheckorgsicon384png {
    background: rgba(244, 244, 244, 0.8) url("Lobby") right no-repeat;
  }
 
  #lobby-userlist-user-ransei, #tournaments-userlist-user-ransei, #theranseiregion-userlist-user-ransei {
    background: rgba(244, 244, 244, 0.8) url("http://sprites.pokecheck.org/sicon/384.png") right no-repeat;
  }
 
  #lobby-userlist-user-camilas, #casino-userlist-user-camilas, #tournaments-userlist-user-camilas {
    background: rgba(244, 244, 244, 0.8) url("http://imgur.com/7rdvKm8.gif") right no-repeat;
  }
 
  #lobby-userlist-user-camilas, #casino-userlist-user-camilas, #staff-userlist-user-camilas {
    background: rgba(244, 244, 244, 0.8) url("https://raw.githubusercontent.com/msikma/pokesprite/master/icons/pokemon/shiny/rayquaza-mega.png") right no-repeat;
  }
 
  #staff-userlist-user-neowulf, #lobby-userlist-user-neowulf, #casino-userlist-user-neowulf {
    background: rgba(244, 244, 244, 0.8) url("http://vignette3.wikia.nocookie.net/pokemon/images/0/03/212M.png/revision/latest?cb=20131021093532") right no-repeat;
  }
 
  #lobby-userlist-user-natm {
    background: rgba(244, 244, 244, 0.8) url("http://media-cerulean.cursecdn.com/attachments/6/427/icon-absol.png") right no-repeat;
  }
 
  #staff-userlist-user-neowulf, #lobby-userlist-user-neowulf, #casino-userlist-user-neowulf {
    background: rgba(244, 244, 244, 0.8) url("http://pldh.net/media/pokexycons/212-mega.png") right no-repeat;
  }
 
  #lobby-userlist-user-thunderren, #flygonfriends-userlist-user-thunderren, #catchandevolve-userlist-user-thunderren {
    background: rgba(244, 244, 244, 0.8) url("gray") right no-repeat;
  }
 
  #lobby-userlist-user-goalie, #theranseiregion-userlist-user-goalie, #smogontiers-userlist-user-goalie {
    background: rgba(244, 244, 244, 0.8) url("http://orig13.deviantart.net/2e4e/f/2015/062/b/5/shiny_the_flygon_icon_by_the_shiny_store-d8kbesg.gif") right no-repeat;
  }
 
  #lobby-userlist-user-thegodofhaxorus, #gamecave-userlist-user-thegodofhaxorus, #staff-userlist-user-thegodofhaxorus {
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/612.png") right no-repeat;
  }
 
  #lobby-userlist-user-xprienzo, #staff-userlist-user-xprienzo, #gamecave-userlist-user-xprienzo {
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/643.png") right no-repeat;
  }
  #lobby-userlist-user-zekrompkstarship, #staff-userlist-user-zekrompkstarship, #gamecave-userlist-user-zekrompkstarship {
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/644.png") right no-repeat;
  }
 
 #lobby-userlist-user-bestbuddy, #staff-userlist-user-bestbuddy, #gamecave-userlist-user-bestbuddy {
    background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/222.png") right no-repeat;
 }
 
 #lobby-userlist-user-dracobottt, #botgames-userlist-user-dracobottt, #gamecave-userlist-user-dracobottt {
   background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/373.png") right no-repeat;
 }
 
 #lobby-userlist-user-eternalmayhem, #staff-userlist-user-eternalmayhem, #help-userlist-user-eternalmayhem {
   background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/373-mega.png") right no-repeat;
 }
 
 #lobby-userlist-user-hydrostatics, #help-userlist-user-hydrostatics, #hydrocity-userlist-user-hydrostatics {
   background: rgba(244, 244, 244, 0.8) url("http://media.pldh.net/pokexycons/172-mega.png") right no-repeat;
 }
 
/**************
  * Custom Colors *
  **************/
 
 .chat.chatmessage-lordhaji  strong {
    color:#39FF14 !important;
  
 
.chat.chatmessage-charizard8888  strong {
    color:black !important;
  }
  
.chat.chatmessage-pieddychomp  strong {
    color:blue !important;
  }

.chat.chatmessage-ransei  strong {
    color:red !important;
  }

.chat.chatmessage-clawliet  strong {
    color:red !important;
  }
    
.chat.chatmessage-eternalmayhem  strong {
    color:purple !important;
  }
    
.chat.chatmessage-darkchampionmewtwo  strong {
    color:black !important;
  }
    
.chat.chatmessage-paul71  strong {
    color:orange !important;
  }

.chat.chatmessage-clawliet  strong { 
    color:blue !important;
  }

.chat.chatmessage-bestbuddy  strong { 
    color:red !important;
  }

.chat.chatmessage-dracobottt  strong { 
    color:blue !important;
  }
